<form>
    <h1>Apagar Categoria</h1>
  
    <mat-form-field class="form" appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput name="nome" type="text" disabled/>
    </mat-form-field>
    <mat-form-field class="form" appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        name="descricao"
        disabled
      ></textarea>
    </mat-form-field>
  
    <div class="buttons">
      <button class="mat-elevation-z8" mat-raised-button color="primary">
        Confirma
      </button>
      <button class="mat-elevation-z8" mat-raised-button color="warn">
        Cancelar
      </button>
    </div>
  </form>
  
