<form>
  <h1>Adicionar novo Livro</h1>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Título</mat-label>
    <input
      [(ngModel)]="livro.titulo"
      matInput
      name="titulo"
      placeholder="Ex. Computação"
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="form" appearance="fill">
    <mat-label>Autor</mat-label>
    <input
      [(ngModel)]="livro.autor"
      matInput
      name="autor"
      placeholder="Ex. Jose Silva"
      type="text"
    />
  </mat-form-field>
  <mat-form-field class="form" appearance="fill">
    <mat-label>Texto</mat-label>
    <textarea
      [(ngModel)]="livro.texto"
      matInput
      name="descricao"
      placeholder="Ex. Livro de Computação"
    ></textarea>
  </mat-form-field>

  <div class="buttons">
    <button
      (click)="create()"
      class="mat-elevation-z8"
      mat-raised-button
      color="primary"
    >
      Criar
    </button>
    <button
      (click)="cancel()"
      class="mat-elevation-z8"
      mat-raised-button
      color="warn"
    >
      Cancelar
    </button>
  </div>
</form>
