<form>
  <h1>Criando nova Categoria</h1>

  <mat-form-field class="form" appearance="fill">
    <mat-label>Nome</mat-label>
    <input [(ngModel)]="categoria.nome" matInput name="nome" placeholder="Ex. Computação" type="text" />
  </mat-form-field>
  <mat-form-field class="form" appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea
    [(ngModel)]="categoria.descricao"
      matInput
      name="descricao"
      placeholder="Ex. Livro de Computação"
    ></textarea>
  </mat-form-field>

  <div class="buttons">
    <button (click)="create()" class="mat-elevation-z8" mat-raised-button color="primary">
      Criar
    </button>
    <button class="mat-elevation-z8" mat-raised-button color="warn">
      Cancelar
    </button>
  </div>
</form>
